


body {
  background-color: black;
  margin-left: 6.5%;
}

.box {

  border-radius: 15%;
  top:25%;
  opacity: .8;
  margin-left: 20%;
  margin-top: 45%;
}


#newPomo {
  float: right;
  margin-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 40px;
  text-decoration: none;
  background-color: red;
  position: absolute;
  right: 0;
  z-index: 1;
}

.boxes {
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}

.timer {
  height: 100px;
  width: 200px;
  background-color: white;
  text-align: center;
  margin-left: 15%;
  margin-top: 25%;
  font-size: 50px;
  display: inline-block;

  }
